.product__box {
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 15px;
}

.product__add__head {
    margin-bottom: 13px;
    text-align: center;
}

.product__addform {
    margin-bottom: 40px;
}

.product__addform input:not(:last-child) {
    margin-bottom: 10px;
}

.product__addform select {
    margin-bottom: 10px;
}

.product__addform input, select {
    padding: 3px 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.product__addform form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.right {
    display: flex;
    justify-content: center;
    flex-basis: 75%;
    max-height: 500px;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
}

.overflow {
    overflow-y: scroll;
}

.categories__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--main-color);
    padding: var(--basic--padding);
    border-radius: 30px;
    transition: all;
    transition-duration: 0.3s;
    max-width: 400px;
    text-align: center;
}

.categories__content:hover {
    color: var(--white);
    background-color: var(--main-color);
}

.categories__content .icon {
    font-size: 40px;
    padding: var(--basic--padding);
}

.categories__box {
    width: 250px;
}

.categories__box a {
    text-decoration: none;
    color: var(--main-color);
    padding: var(--basic--padding);
}

/* PRODUCT */

.product__item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    box-shadow: 2px 2px 15px #c1c1c1;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 5px 10px;
    transition: transform 0.4s;
    max-width: 200px;
}

.product__item:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.04);
}

.product__item img {
    width: 80px;
    height: 80px;
}

.product__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
